:root {
  --primary-text-color: #757575;
  --litle-text-color: #212121;
  --accent-color: #2196f3;
  --additional-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1230px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .head {
  display: flex;
  align-items: center;
}

.web-style {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.studio-style {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--litle-text-color);
  text-decoration: none;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--litle-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style: none;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .email {
  color: var(--accent-color);
  text-decoration: none;
}
.auth-nav .phone {
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.hero {
  background: rgba(47, 48, 58, 1);
  text-align: center;
  padding: 200px 0;
}

.hero .title {
  padding-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--additional-color);
}

.hero .link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--additional-color);
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  border-color: transparent;
  border-radius: 4px;
}

.feature-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

.feature-list .item {
  width: 270px;
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--litle-text-color);
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.photos-list {
  display: flex;
}

.photos-list .item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do .title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--litle-text-color);
}

.team .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 50px;
  color: var(--litle-text-color);
}

.team {
  background-color: #f5f4fa;
  margin-top: 94px;
  padding-bottom: 94px;
}

.workers-list {
  display: flex;
  height: 368px;
}

.workers-list .item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.workers-list .item:not(:last-child) {
  margin-right: 30px;
}

.workers-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  color: var(--litle-text-color);
}

.workers-list .text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}

.end-page {
  background-color: #2f303a;
  height: 252px;
}

.address-section {
  display: block;
  padding-top: 20px;
}
.end-page .web-style {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
}

.address-section .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-section .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--additional-color);
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
}
.address-section .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
}

.end-page .studio-style {
  color: var(--additional-color);
}

.projects {
  padding-top: 94px;
}

.buttons {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.buttons .filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--litle-text-color);
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  margin: 0;
  border: transparent;
}

.buttons .item:not(:last-child) {
  margin-right: 8px;
}

.buttons .filter-button:hover,
.buttons .filter-button:focus {
  background-color: var(--accent-color);
  color: var(--additional-color);
}

.projects-photos {
  display: flex;
  flex-wrap: wrap;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 94px;
}

.element {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.element:nth-child(3n) {
  margin-right: 0px;
}
.element:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects .link {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--litle-text-color);
}

.projects .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.buttons .title {
  display: none;
}

.products {
  padding: 24px 20px 24px 20px;
}
